body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: calc(100vh - 40px);
}

.box-section {
  background-color: #e8eef0;
  border: 1px solid #e0e7ea;
  border-radius: 4px;
  padding: 20px;
  box-sizing: border-box;
}

.red-title-font {
  color: #A6192E;
}

.column-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

#lower-bound-section {
  flex-basis: 30%; /* Adjusted the flex-basis value */
  margin-right: 12px; /* Add a margin between the sections */
}

#histogram-section {
  flex-basis: 65%; /* Adjusted the flex-basis value to make the histogram wider */
}

#new-grade-section {
  flex-basis: 33%; /* Adjusted the flex-basis value */
}


.histogram-grade {
  font-size: 16px;
  margin-bottom: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
}

.grade-label {
  display: inline-block;
  min-width: 80px;
  padding-right: 30px;
}

.count {
  display: inline-block;
}

.bar {
  background-color: #A6192E;
  height: 10px;
}

#new-grade-input {
  width: 50%;
  padding: 5px;
}

.grade-input-row {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.grade-input-row label {
  margin-right: 100px;
  min-width: 40px;
}

.grade-input-row input[type="number"] {
  width: 60px;
  height: 25px;
}
